*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: #fefdfe;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: rgb(21, 20, 20);
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #0099ff;
}
.navbar-toggler span{
    color: #0a8dce;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #0a6af2;
    color: white;
}
#navbar form button{
    background: rgb(5, 133, 245);
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(213, 205, 205, 0.3),rgba(210, 203, 203, 0.2)), url(./images/pulau-padar.jpg-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px rgb(7, 97, 241);
}
.home .content h1{
    color: rgb(246, 243, 243);
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px rgb(3, 138, 240);
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #0f92ef;
    text-shadow: 0px 1px 1px rgb(11, 93, 245);
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Bromo";}
    10%{content: "Kawah ijen";}
    20%{content: "banda neira";}
    30%{content: "borobudur";}
    40%{content: "Danau Toba";}
    50%{content: "Bali";}
    60%{content: "Sabang";}
    70%{content: "Gunung Rinjani";}
    80%{content: "Pink Beach Lombok";}
    90%{content: "Raja Empat";}
    100%{content: "Labuan Bajo";}
} 
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: rgb(11, 166, 233);
    color: rgb(236, 236, 236);
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #01a1f7;
    color: rgb(29, 26, 26);
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    color : 0px 1px 1px rgb(84, 79, 79);
    font-weight: 600;
}
.main-text h2{
    text-align: center;
}
.main-text h1 span{
    color: #008cff;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px rgb(96, 85, 85);
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: rgb(84, 80, 80);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #0091ff;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */





/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #0099ff;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card-img{
    border-radius: 5px;
}
.packages .card .card-body{
    background:transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
}
.packages .card .card-body p{
    font-size: 15px;
    font-weight: 600;
}
.checked{
    color: #0594fb;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 15px;
}
.packages .card .card-body a{
    padding: 5px;
    text-decoration: none;
    background: #0394ee;
    color: white;
    border-radius: 5px;
}
/* Section Packages End */




/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #0d7ff0;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
/* Section Services End */





/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */




/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #077cf1;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #0b88e1;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #087fef;
}
/* Footer End */